[submodule "beta-cube-library"]
	path = beta-cube-library
	url = git@github.com:enjrolas/beta-cube-library.git
[submodule "spark-firmware/firmware"]
	path = spark-firmware/firmware
	url = https://github.com/spark/firmware.git
[submodule "spark-firmware/core-common-lib"]
	path = spark-firmware/core-common-lib
	url = https://github.com/spark/core-common-lib.git
[submodule "spark-firmware/core-communication-lib"]
	path = spark-firmware/core-communication-lib
	url = https://github.com/spark/core-communication-lib.git
